### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
unique_players = len(purchase_data.groupby(["SN"]))
player_df = pd.DataFrame({"Total Players" : [unique_players]})
player_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len(purchase_data["Item ID"].unique())
avg_price = purchase_data["Price"].mean()
purchase_count = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

In [4]:
data_summary=pd.DataFrame({"Number of Unique Items" : [unique_items],\
                  "Average Price" : [avg_price],\
                  "Number of Purchases" : [purchase_count],\
                  "Total Revenue" : [total_revenue]})

In [5]:
data_summary["Average Price"] = data_summary["Average Price"].map("${:.2f}".format)
data_summary["Total Revenue"] = data_summary["Total Revenue"].map("${:.2f}".format)

data_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
unique_df = purchase_data.groupby(["SN","Gender"]).mean()["Price"]
count_df = unique_df.groupby(["Gender"]).count()
user_percent = count_df/unique_players

In [7]:
total_purchases = purchase_data.groupby(["Gender"]).count()["Purchase ID"]
avg_price_df = unique_df.groupby(["Gender"]).mean()

In [8]:
unique_sum = purchase_data.groupby(["SN","Gender"]).sum()["Price"]
avg_sum = unique_sum.groupby(["Gender"]).mean()

In [9]:
gender_analysis = pd.DataFrame({"Gender" : ["Female","Male","Other"],\
                                "Count" : [x for x in count_df],\
                                "Percent" : [x*100 for x in user_percent],\
                                "Number of Purchases" : [x for x in total_purchases],\
                                "Average Price per Purchase": [x for x in avg_price_df],\
                                "Average Total per Person" : [x for x in avg_sum]
                               })

In [10]:
gender_analysis["Average Price per Purchase"] = gender_analysis["Average Price per Purchase"].map("${:.3}".format)
gender_analysis["Average Total per Person"] = gender_analysis["Average Total per Person"].map("${:.3}".format)
gender_analysis["Percent"] = gender_analysis["Percent"].map("{:.4}%".format)

gender_analysis

,Gender,Count,Percent,Number of Purchases,Average Price per Purchase,Average Total per Person
0,Female,81,14.06%,113,$3.19,$4.47
1,Male,484,84.03%,652,$3.01,$4.07
2,Other,11,1.91%,15,$3.35,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
ages = [0,14,19,29,39,100]
age_groups = ["0-14","15-19","20s","30s","Over 40"]

purchase_data["Age Range"] = pd.cut(purchase_data["Age"], ages, labels=age_groups)
age_data = purchase_data.groupby(["SN","Age Range"]).sum().dropna()

In [12]:
age__total_price = age_data.groupby(["Age Range"]).mean()["Price"]
age_count = age_data.groupby(["Age Range"]).count()["Price"]
age_percent = age_count/unique_players
age_purchase_count = purchase_data.groupby(["Age Range"]).count()["Purchase ID"]

In [13]:
age_all = purchase_data.groupby(["SN","Age Range"]).mean()["Price"].dropna()
age_avg_price = age_all.groupby(["Age Range"]).mean()

In [14]:
age_analysis = pd.DataFrame({"Age Range" : [x for x in age_groups],\
                                "Count" : [x for x in age_count],\
                                "Percent" : [x*100 for x in age_percent],\
                                "Number of Purchases" : [x for x in age_purchase_count],\
                                "Average Price per Purchase": [x for x in age_avg_price],\
                                "Average Total per Person" : [x for x in age__total_price] 
                               })

In [15]:
age_analysis["Average Price per Purchase"] = age_analysis["Average Price per Purchase"].map("${:.3}".format)
age_analysis["Average Total per Person"] = age_analysis["Average Total per Person"].map("${:.3}".format)
age_analysis["Percent"] = age_analysis["Percent"].map("{:.3}%".format)
age_analysis

,Age Range,Count,Percent,Number of Purchases,Average Price per Purchase,Average Total per Person
0,0-14,39,6.77%,51,$3.24,$4.1
1,15-19,107,18.6%,136,$3.07,$3.86
2,20s,335,58.2%,466,$2.99,$4.2
3,30s,83,14.4%,114,$3.17,$4.36
4,Over 40,12,2.08%,13,$2.97,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
purchase_data["Player"] = purchase_data["SN"]

In [17]:
purchase_amt = purchase_data.groupby(["SN"]).sum()
purchase_amt = purchase_amt.sort_values("Price", ascending=False)
top_five = purchase_amt.head()
top_five = pd.merge(top_five, purchase_data, on="SN", how="left")

In [18]:
top_five = top_five[["SN","Player","Price_y","Price_x"]]
top_five = top_five.set_index("SN")

In [19]:
top_unique = top_five.groupby("SN").first()

top_users = top_unique["Player"]
top_purchase = top_unique["Price_x"]
top_avg = top_unique.groupby(["Player"]).mean()["Price_y"]
top_unique = top_five.groupby("SN").first()

top_users = top_unique["Player"]
top_purchase = top_unique["Price_x"]
top_avg = top_unique.groupby(["Player"]).mean()["Price_y"]

In [20]:
count_five = top_five.groupby("SN").count()

In [21]:
top_unique["Count"] = count_five["Player"]
top_count = top_unique["Count"]

In [22]:
top_df = pd.DataFrame({"Player" : [x for x in top_users],\
                       "Count" : [x for x in top_count],\
                       "Average Purchase Price" : [x for x in top_avg],\
                       "Total Purchase Price" : [x for x in top_purchase]})
top_df = top_df.sort_values("Total Purchase Price", ascending=False)

In [23]:
top_df["Average Purchase Price"] = top_df["Average Purchase Price"].map("${:.3}".format)
top_df["Total Purchase Price"] = top_df["Total Purchase Price"].map("${:.4}".format)
top_df

        Player  Count Average Purchase Price Total Purchase Price
4    Lisosia93      5                  $4.64               $18.96
1  Idastidru52      4                  $4.93               $15.45
0   Chamjask73      3                  $4.23               $13.83
2       Iral74      4                  $4.14               $13.62
3  Iskadarya95      3                  $4.03                $13.1

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [24]:
popular = purchase_data[["Item ID","Item Name","Price"]].sort_values("Item ID")
popular["ID Item"] = popular["Item ID"]
pop_df = popular.set_index("Item ID")

pop_grp = pop_df.groupby(["Item ID","Item Name"])
pop_count = pop_grp["ID Item"].value_counts()

In [25]:
pop_unique = pop_df.groupby("Item ID").first()

pop_id = pop_unique["ID Item"]
pop_price = pop_unique["Price"]
pop_name = pop_unique["Item Name"]

In [26]:
popular_df = pd.DataFrame({"Item ID" : [x for x in pop_id],\
                           "Item Name" : [x for x in pop_name],\
                           "Count" : [x for x in pop_count],\
                          "Price" : [x for x in pop_price]})

In [27]:
popular_df["Total"] = popular_df["Count"] * popular_df["Price"]

In [28]:
most_popular_df = popular_df.sort_values("Count", ascending=False)

In [29]:
most_popular_df["Price"] = popular_df["Price"].map("${:.3}".format)
most_popular_df["Total"] = popular_df["Total"].map("${:.4}".format)
most_popular_df.head(10)

,Item ID,Item Name,Count,Price,Total
177,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
144,145,Fiery Glass Crusader,9,$4.58,$41.22
107,108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
81,82,Nirvana,9,$4.9,$44.1
19,19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
102,103,Singed Scalpel,8,$4.35,$34.8
74,75,Brutality Ivory Warmace,8,$2.42,$19.36
71,72,Winter's Bite,8,$3.77,$30.16
59,60,Wolf,8,$3.54,$28.32
58,59,"Lightning, Etcher of the King",8,$4.23,$33.84

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [30]:
most_profit_df = popular_df.sort_values("Total", ascending=False)

In [31]:
most_profit_df["Price"] = most_profit_df["Price"].map("${:.3}".format)
most_profit_df["Total"] = most_profit_df["Total"].map("${:.4}".format)
most_profit_df.head(10)

,Item ID,Item Name,Count,Price,Total
177,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
81,82,Nirvana,9,$4.9,$44.1
144,145,Fiery Glass Crusader,9,$4.58,$41.22
91,92,Final Critic,8,$4.88,$39.04
102,103,Singed Scalpel,8,$4.35,$34.8
58,59,"Lightning, Etcher of the King",8,$4.23,$33.84
107,108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
77,78,"Glimmer, Ender of the Moon",7,$4.4,$30.8
71,72,Winter's Bite,8,$3.77,$30.16
59,60,Wolf,8,$3.54,$28.32

### Final Analysis
* Over half of all the users are in their 20s.

* Even though males make up most of the players, all individual players spend a comparable amount of money regardless of their gender.

* "Oathbreaker, Last hope of the Breaking Storm" is the most popular and most profitable game by a pretty good margin.